html, body, #root, .contents { height: 100% }
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    font-size: 11pt;
}
input, button {
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.9rem;
}
button, input[type="button"], 
input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
}
input[type=number] {
    text-align: right;
    width: 3.5em;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  /* -webkit-appearance: none;  */
  margin-left: 0.3em;
}
label {
    cursor: pointer;
    font-weight: 600;
}
.contents {
    display: flex;
    flex-wrap: wrap;
}
.column-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}