.cell-editor {
    display: block;
    flex: 1 auto;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #ddd;
    border-right: 1px solid black;
    padding: 1em;
    width: 521px;
}
.cell-editor-options {
    border: 1px solid #ccc;
}
.input-group {
    display: flex;
    padding: 0.5em;
    min-height: 24px;
    vertical-align: bottom;
    justify-content: space-between;
}
.input-group:nth-child(even) {
    background-color: #ccc;
}
.label { flex: 1; display: flex; justify-content: space-between; }